.top {
    margin: 0px;
    background: #CFE8E7;
    position: relative;
    margin: 0;
}

.top-cloud{
    position: relative;
    left: 20.63%;
    top: 50px;
    width: 15%;

}

.mountain {
    width: 50%;
}
.bottom-cloud{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 15%;
}

.greeting-container {
    position: relative;
    top: 60px;
}

.greeting { 
    margin-top: 50px;
    font-size: 312%;
    padding: 0px;
    line-height: 1;
    
}

.subtitle {
    font-size: 30px;
    margin: 0;
    line-height: 2;
    color: #66bfbf;
    font-weight: lighter;

}


.compe { /*sub sub tittle*/
    font-weight: normal;
}

/* Middle */
.skills {
    margin-bottom: 80px;
}
.skill-row {
    margin: 50px auto;
    width: 75%;
    text-align: left;
    line-height: 2;
}

.skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profilepic {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    border: solid 2px #66bfbf;
    margin-top: 50px;
}



/* Bottom */



.butn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;

    text-decoration: none;
}

.butn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.bottom {
    margin-top: 100px;
    background: #CFE8E7;
    padding-top: 16px;
}

.copyrait {
    color: #9FCBC9;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-weight: bold;
}

.footer-link {
    margin: 0 20px;
    text-decoration: none;
    font-weight: normal;
}



/* General */
body {
    background: whitesmoke;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
}


h2, h3 {
    
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

hr {
    width: 25%;
    border: none;
    border-top: dotted;
    border-top-width: 5px;
    margin-top: 50px;
}

a{ 
    color: #11999e;
}

